.button{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background-color: #a6121f;
  border: 2px solid #fff;
  font-family: Comic Sans MS;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  font-size:15px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 1);
}

 .button:hover {
    color: white;
    background-color: #f2c94c;
  }

.navWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  

.navSlogan{
  color: #fff;
  font-family: 'Comic Sans MS';
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #000000;
}