.backDrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.loader {
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
}
