.titleContainer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 8px;
}


.image{
  border-bottom: 3px solid #fff;
  display: block;
}

.icon{
    animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.iconTwo{
    animation: rotateYTwo 1500ms infinite alternate ease-in-out 1000ms;
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(60deg);
  }
}

@keyframes rotateYTwo {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(-60deg);
  }
}



.movieGallery {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #48bdeb;
  border-radius: 4px;
  box-shadow: 0 0.3em 1em #000;
  border: 5px solid #fff;
  
}

.movieItem {
 background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-size:cover;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}


.movieGalleryLabel {
  display: block;
  text-align: center;
  padding: 10px;
  font-weight: 700;
    font-size: 36px;
    color: #fff;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px 2px #000000;
}



.movieItem:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans Ms";
  font-weight: 700;
  color: blue;
}

.galleryFrame{
  position: relative;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.searchBar {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #48bdeb;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-family: 'Comic Sans MS';
  font-weight: 700;
  color: blue;
}

.button {
  margin-left: 12px;
  background-color: blue;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 10px 12px -6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  font-family: 'Comic Sans MS';
  font-weight: 700;
  color:#ffff;
}

.liker{
  margin: 5px;
  padding:5px;
  background-color: blue;
  border: 1px solid rgba(15, 15, 15, 0.3);
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.buttonWrapper{
  text-align: center;
  margin: 10px;
}

.loadBtn{
  background-color: blue;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 10px 12px -6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  font-family: 'Comic Sans MS';
  font-weight: 700;
  color:#ffff;}